@media screen and (max-width:1400px) {
    .section2 .part2 {
        height: 800px !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        height: 600px;

        .poorpeopleimg img {
            height: 300px;
            width: 400px;
        }

    }

    .section3 .part3 {
        height: 800px !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        height: 600px;

        .poorpeopleimg img {
            height: 300px;
            width: 400px;
        }
    }

    .section5 .part4 {
        height: 800px !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        height: 600px;

        .poorpeopleimg img {
            height: 300px;
            width: 400px;
        }

    }
}
@media screen and (max-width:992px) {
    
    .kayu-teymur {
        display: none;
    }
    .callus{
        h6{
            display: none;
        }
    }
}
@media screen and (max-width:700px) {
    .section2 .part2 {
        height: 800px !important;

        .poorpeopleimg img {
            padding: 20px;
            height: 400px;
            width: 500px !important;
        }

        .part2text {
            display: flex;
            flex-direction: column;

        }

        span {
            font-size: 20px;
        }

        h1 {
            font-size: 20px;

        }

        p {

            height: 80px;
        }

    }
    .section3 .part3 {
        height: 800px !important;

        .poorpeopleimg img {
            padding: 20px;
            height: 400px;
            width: 500px !important;
        }

        .part3text {
            display: flex;
            flex-direction: column;

        }

        span {
            font-size: 20px;
        }

        h1 {
            font-size: 20px;

        }

        p {

            height: 80px;
        }

    }

    .section5 .part4 {
        height: 800px !important;

        .poorpeopleimg img {
            // padding: 20px;
            height: 300px;
            width: 300px !important;
        }

        .part4text {
            display: flex;
            flex-direction: column;

        }

        span {
            font-size: 20px;
        }

        h1 {
            font-size: 20px;

        }

        p {

            height: 80px;
        }

    }
}

@media screen and (max-width:600px) {
    .section5 .part4 {
        height: 800px !important;
        margin-bottom: 70%;
        margin-top: 400px;

        .poorpeopleimg img {
            // padding: 20px;
            height: 300px;
            width: 300px !important;
        }

        .part4text {
            display: flex;
            flex-direction: column;

        }

        span {
            font-size: 20px;
        }

        h1 {
            font-size: 20px;

        }

        p {

            height: 80px;
        }

    }
}
@media screen and (max-width:533px) {
    .section3 .part3{
        p{
            width: 200px !important;
 
        }
    }
}
@media screen and (max-width:500px) {
    .section2 .part2 {
        display: flex;
        flex-direction: column;
        height: 900px !important;
        padding-top: 20px;

        .poorpeopleimg img {

            height: 300px;
            width: 400px !important;
        }

        .part2text {
            width: 60%;

            span {
                font-size: 15px;
            }

            h1 {
                font-size: 20px;
                width: 250px !important;
            }

            p {
                height: 80px;
            }

            .buttonn {
                display: flex;

                padding-top: 90px !important;

            }
        }
    }

    .section3 .part3 {
        display: flex;
        flex-direction: column;
        height: 900px !important;
        padding-top: 20px;

        .poorpeopleimg img {

            height: 300px;
            width: 450px !important;
        }

        .part3text {
            width: 40%;

            span {
                font-size: 15px;
            }

            h1 {
                font-size: 20px;
                width: 200px !important;
            }

            p {
                width: 200px !important;
            }

            .buttonnn {
                display: flex;

                padding-top: 90px !important;

            }
        }
    }

    .section5 .part4 {
        padding-top: 600px !important;
        display: flex;
        flex-direction: column;
        height: 900px !important;
        // padding-top: 20px;

        .poorpeopleimg img {

            height: 200px;
            width: 200px !important;
        }

        .part4text {
            width: 40%;

            span {
                font-size: 15px;
            }

            h1 {
                font-size: 20px;
                width: 200px !important;
            }

            p {
                width: 200px !important;
            }

            .buttonnnn {
                display: flex;

                padding-top: 90px !important;

            }
        }
    }
}

@media screen and (max-width:430px) {
    .section2 .part2 {
        display: flex;
        flex-direction: column;
        height: 900px !important;
        padding-top: 20px;

        .poorpeopleimg img {

            height: 300px;
            width: 400px !important;
        }

        .part2text {
            width: 60%;

            span {
                font-size: 15px;
            }

            h1 {
                font-size: 20px;
                width: 300px;
            }

            p {
                height: 110px;
            }

            .buttonn {
                display: flex;
                flex-direction: column;

                //   padding-left: 33%;
                .buton1 {
                    width: 150px !important;
                    height: 30px !important;
                    font-size: 10px !important;

                }

                .buton2 {
                    width: 150px !important;
                    height: 30px !important;
                    font-size: 10px !important;
                }
            }
        }
    }

    .section3 .part3 {
        display: flex;
        flex-direction: column;
        height: 900px !important;
        padding-top: 20px;

        .poorpeopleimg img {

            height: 300px;
            width: 400px !important;
        }

        .part3text {
            width: 60%;

            span {
                font-size: 15px;
            }

            h1 {
                font-size: 20px;
                width: 300px;
            }

            p {
                height: 110px;
            }

            .buttonnn {
                display: flex;
                flex-direction: column;

                .buton1 {
                    width: 150px !important;
                    height: 30px !important;
                    font-size: 10px !important;

                }

            }
        }
    }

    .section5 .part4 {
        display: flex;
        flex-direction: column;
        height: 900px !important;
        padding-top: 20px;

        .poorpeopleimg img {

            height: 200px;
            width: 300px !important;
        }

        .part4text {
            padding-right: 150px;
            width: 60%;

            span {
                font-size: 15px;
            }

            h1 {
                font-size: 20px;
                width: 300px;
            }

            p {
                height: 110px;
            }

            .buttonnnn {
                display: flex;
                flex-direction: column;

                .buton1 {
                    width: 150px !important;
                    height: 30px !important;
                    font-size: 10px !important;

                }

            }
        }
    }

}

@media screen and (max-width:400px) {
    .section2 .part2 {
        display: flex;
        flex-direction: column;
        height: 900px !important;
        padding-top: 20px;

        .poorpeopleimg img {

            height: 300px;
            width: 300px !important;
        }

        .part2text {
            width: 60%;

            span {
                font-size: 15px;
            }

            h1 {
                font-size: 20px;
                width: 200px !important;
            }

            p {
                height: 110px;
            }

            .buttonn {
                display: flex;
                flex-direction: column;

                .buton1 {
                    width: 150px !important;
                    height: 30px !important;
                    font-size: 10px !important;

                }

                .buton2 {
                    width: 150px !important;
                    height: 30px !important;
                    font-size: 10px !important;
                }
            }
        }
    }

    .section3 .part3 {
        display: flex;
        flex-direction: column;
        height: 900px !important;
        padding-top: 20px;

        .poorpeopleimg img {

            height: 300px;
            width: 250px !important;
        }

        .part3text {
            width: 60%;
            padding-right: 160px;

            span {
                font-size: 15px;
            }

            h1 {
                font-size: 20px;
                width: 200px;
            }

            p {
                height: 110px;
            }

            .buttonnn {
                display: flex;
                flex-direction: column;

                .buton1 {
                    width: 150px !important;
                    height: 30px !important;
                    font-size: 10px !important;

                }
            }
        }
    }

    .section5 .part4 {

        display: flex;
        flex-direction: column;
        height: 900px !important;
        margin-top: 100px;
        margin-bottom: 100px;

        .poorpeopleimg img {

            height: 200px;
            width: 200px !important;
        }

        .part4text {
            width: 60%;

            span {
                font-size: 15px;
            }

            h1 {
                font-size: 20px;
                width: 300px;
            }

            p {
                height: 110px;
            }

            .buttonnnn {
                display: flex;
                flex-direction: column;

                .buton1 {
                    width: 150px !important;
                    height: 30px !important;
                    font-size: 10px !important;

                }
            }
        }
    }
}



@media screen and (max-width:300px) {
    .section2 .part2 {
        width: 200px;
        gap: 0 !important;

        .part2text {
            padding-left: 30px !important;


            h1 {
                width: 160px;
            }

            p {
                width: 180px;
            }


        }
    }

    .section3 .part3 {
        width: 200px;
        gap: 0 !important;

        .part3text {
            padding-left: 30px !important;


            h1 {
                width: 160px;
            }

            p {
                width: 180px;
            }


        }
    }

    .section5 .part4 {
        width: 200px;
        gap: 0 !important;

        .part4text {
            padding-left: 30px !important;


            h1 {
                width: 160px;
            }

            p {
                width: 180px;
            }


        }
    }

    .section1 {
        .image-main {
            height: 400px !important;
            width: 300px !important;
        }

        .imagetext {
            padding-top: 30px;

            h1 {
                position: relative;
                top: -90px !important;
                font-size: 30px !important;

            }

            p {
                position: relative;
                font-size: 18px !important;
                top: -90px !important;
            }

            .button {

                position: relative;
                top: -70px;
                width: 150px;
                height: 60px;
                font-size: 15px;
            }
        }

        .image-main {
            height: 400px;
        }

        .imagetext {
            position: absolute;
            top: 15%;
            height: auto;

            h1 {
                font-size: 30px;
            }

            p {
                font-size: 20px;
            }

            .button {
                width: 150px;
                height: 90px;
                font-size: 15px;
            }
        }

        .kayu-teymur {
            display: none;
        }
    }
}




header {

    top: 0;
    z-index: 100;
    position: sticky;

    .callus {

        display: flex;
        align-items: center;
        text-align: center;
        gap: 15px;

        button {
            background-color: rgb(241, 91, 67);
            height: 55px;
            border: 1px solid black;
        }
    }

    .callus button:hover {
        background-color: transparent;

    }

}

.image-main {
    background-image: url(./dayi.jpg);
    width: 100%;
    height: 800px;
    position: relative;
    background-size: cover;
    background-position: center;
}



main {
    .section1 {
        .imagetext {
            position: absolute;
            padding-top: 10%;

            left: 10%;
            color: white;

            h1 {
                font-size: 60px;
            }

            p {
                font-size: 25px;
            }

            button {
                border: 1px solid black;
                background-color: rgb(101, 201, 187);
                height: 70px;
                width: 230px;
                color: white;
            }

            .button:hover {
                border: 1px solid white;
                background-color: transparent;
            }
        }
    }

    .section2 {
        background-color: rgb(252, 242, 235);
        padding-top: 50px;

        .part2 {
            display: flex;
            gap: 80px;

            span {
                color: rgb(101, 201, 187);
            }

            h1 {
                color: rgb(38, 59, 92);
            }

            p {
                color: rgb(119, 119, 119);
            }

            .part2text {
                display: flex;
                justify-content: center;
                flex-direction: column;

                .buttonn {
                    display: flex;
                    gap: 20px;

                    .buton1 {
                        border: 1px solid rgb(241, 91, 67);
                        height: 70px;
                        width: 170px;
                        font-size: 20px;
                        background-color: rgb(241, 91, 67);
                        color: white;
                    }

                    .buton2 {
                        border: 1px solid rgb(241, 91, 67);
                        font-size: 20px;
                        height: 70px;
                        width: 170px;
                        background-color: transparent;
                        color: rgb(241, 91, 67);

                    }

                    .buton1:hover {
                        background-color: transparent;
                        color: rgb(241, 91, 67);
                    }

                    .buton2:hover {
                        background-color: rgb(241, 91, 67);
                        color: white;
                    }
                }
            }
        }

    }

    .section3 {
        padding: 96px;

        .part3 {
            display: flex;
            gap: 80px;

            span {
                color: rgb(101, 201, 187);
            }

            h1 {
                color: rgb(38, 59, 92);
            }

            p {
                color: rgb(119, 119, 119);
            }

            .part3text {
                display: flex;
                justify-content: center;
                flex-direction: column;

                .buttonnn {
                    display: flex;
                    gap: 20px;

                    .buton1 {
                        border: 1px solid rgb(241, 91, 67);
                        height: 70px;
                        width: 170px;
                        font-size: 20px;
                        background-color: rgb(241, 91, 67);
                        color: white;
                    }

                    .buton2 {
                        border: 1px solid rgb(241, 91, 67);
                        font-size: 20px;
                        height: 70px;
                        width: 170px;
                        background-color: transparent;
                        color: rgb(241, 91, 67);

                    }

                    .buton1:hover {
                        background-color: transparent;
                        color: rgb(241, 91, 67);
                    }

                    .buton2:hover {
                        background-color: rgb(241, 91, 67);
                        color: white;
                    }
                }
            }
        }
    }

    .section5 {
        padding: 96px;

        .part4 {
            display: flex;
            // gap: 200px;
            justify-content: space-evenly;

            span {
                color: rgb(101, 201, 187);
            }

            h1 {
                color: rgb(38, 59, 92);
            }

            p {
                color: rgb(119, 119, 119);
            }

            .part4text {
                display: flex;
                justify-content: center;

                flex-direction: column;

                .buttonnnn {
                    display: flex;
                    // gap: 20px;

                    .buton1 {
                        border: 1px solid rgb(241, 91, 67);
                        height: 70px;
                        width: 170px;
                        font-size: 20px;
                        background-color: rgb(241, 91, 67);
                        color: white;
                    }



                    .buton1:hover {
                        background-color: transparent;
                        color: rgb(241, 91, 67);
                    }


                }
            }
        }
    }



    .cards {
        display: flex;
        flex-wrap: wrap;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 600px;
        margin-top: 4%;

        .card {
            width: 30%;

            &:hover {
                h4 {
                    color: red;
                    transition: 500ms;
                }

                .cardfooter {

                    .donatebutton {

                        background-color: transparent;
                        color: rgb(241, 91, 67);
                        // transition: 500ms;
                    }
                }
            }

            .cardimg img {
                height: 300px;
                width: 100%;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
            }

            .cardinfo {
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                flex-direction: column;

                .cardfooter {
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    gap: 15px;
                    color: aqua;

                    .donatebutton {
                        background-color: rgb(241, 91, 67);
                        border: 1px solid rgb(241, 91, 67);
                        color: white;
                        width: 80px;
                        height: 50px;
                        margin-bottom: 5%;
                    }
                }
            }
        }
    }

    @media screen and (max-width:900px) {
        .cards {
            margin-bottom: 50%;

            .card {
                width: 45%;
                margin-top: 5%;

                .cardinfo {
                    h4 {
                        font-size: 18px;
                    }

                    p {
                        font-size: 12px;
                    }

                    .cardfooter {
                        .donatebutton {
                            height: 20px;
                            width: 80px;

                            h6 {
                                font-size: 10px;
                            }
                        }
                    }
                }
            }
        }
    }

    @media screen and (max-width:600px) {
        .cards {
            .card {
                width: 95%;

                .cardinfo {
                    h4 {
                        font-size: 18px;
                    }

                    p {
                        font-size: 12px;
                    }

                    .cardfooter {

                        height: 20px;
                        width: 80px;

                        h6 {
                            font-size: 10px;
                        }
                    }
                }
            }
        }
    }


    @media screen and (max-width:320px) {
        .cards {
            width: 300px;
        }
    }
}

.section6 {
    background-attachment: fixed;
    // width: 100%;
    flex-wrap: wrap;

    .common {
        color: white;

        .upperpart {
            padding: 50px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .imgs {
            display: flex;
            justify-content: space-between;

            .img1 {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
    }
}

@media screen and (max-width:767px) {
    .section6 {
        // margin-top: 200px;
        flex-wrap: wrap;

        .imgs {
            flex-wrap: wrap;

        }
    }
}

@media screen and (max-width:600px) {
    .section6 {
        display: flex;
        justify-content: center;

        .imgs {
            justify-content: center !important;
            align-items: center !important;

            .img1 {
                display: flex;
            }
        }
    }
}

footer {
    .foot1 {
        padding-top: 80px;
        padding-bottom: 20px;
        background-color: rgb(38, 59, 92);
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        p {
            color: white;
        }

        .icons {
    
            display: flex;
            font-size: 20px;
            gap: 5px;
            
            .icon1 {
                border: 1px solid rgb(59, 89, 152);
                background-color: rgb(59, 89, 152);
                width: 54px;
                height: 54px;
                display: flex;
                align-items: center;
                text-align: center;
                justify-content: center;
                &:hover{
                    transform: rotateY(180deg);
                    transition: 1000ms;
                }
                i {

                    color: white;
                }
            }

            .icon2 {
                border: 1px solid rgb(0, 119, 181);
                background-color: rgb(0, 119, 181);
                width: 54px;
                height: 54px;
                display: flex;
                align-items: center;
                text-align: center;
                justify-content: center;
                &:hover{
                    transform: rotateY(180deg);
                    transition: 1000ms;
                }
                i {

                    color: white;
                }
            }

            .icon3 {
                border: 1px solid rgb(59, 89, 230);
                background-color: rgb(59, 89, 230);
                width: 54px;
                height: 54px;
                display: flex;
                align-items: center;
                text-align: center;
                justify-content: center;
                &:hover{
                    transform: rotateY(180deg);
                    transition: 1000ms;
                }
                i {

                    color: white;
                }
            }

            .icon4 {
                border: 1px solid red;
                background-color: red;
                width: 54px;
                height: 54px;
                display: flex;
                align-items: center;
                text-align: center;
                justify-content: center;
                &:hover{
                    transform: rotateY(180deg);
                    transition: 1000ms;
                }
                i {

                    color: white;
                }
            }
        }

        .second {

            .navigation {
                color: white;
            }

            .href {
                ul {
                    padding: 0;
                    list-style: none;

                    li {
                        padding: 10px;

                        a {

                            text-decoration: none;
                            color: white;
                        }
                    }
                }
            }
        }
        .third {
    
            .contact {
                color: white;
            }
    
            .number {
                ul {
                    padding: 0;
                    list-style: none;
    
                    li {
                        padding: 10px;
    
                        a {
    
                            text-decoration: none;
                            color: white;
                        }
                    }
                }
            }
        }
        .four{
            .support{
                color: white;
            }
       .lastname{
        button{
        border: 1px solid rgb(241,91,67);
        background-color:rgb(241,91,67) ;
        color: white;
        width: 150px;
        height: 50px;
        &:hover{
            border: 1px solid white;
            background-color: transparent;
        }
        }
        
       }

        }
    }
}


.foot2 {
    border:1px solid rgb(56,75,106);
    background-color: rgb(38, 59, 92);
    color: white;
    display: flex;
    justify-content: center;
    
}
@media screen and (max-width:950px) {
    footer{
            img{
                width: 150px;
            }
            p{
                font-size: 14px;
            }
            ul{
                font-size: 14px;
            }
            h5{
                font-size: 17px;
            }
            button{
                width: 100px !important;
                font-size: 12px;
            }
            
        }
    }
    @media screen and (max-width:632px) {
        footer{
                img{
                    width: 200px;
                }
                p{
                    font-size: 17px;
                }
                ul{
                    font-size: 17px;
                }
                h5{
                    font-size: 20px;
                }
                button{
                    width: 100px !important;
                    font-size: 12px;
                }
                
            }
        }
        .home-demo .item {
            background: #ff3f4d;
        }
        .home-demo h2 {
            color: #FFF;
            text-align: center;
            padding: 5rem 0;
            margin: 0;
            font-style: italic;
            font-weight: 300;
        }